:root {
    /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
    /*line-height: 1.6;*/
    /*font-weight: 400;*/
    /*--color-bg: #ffffff;*/
    /*--color-surface: #f5f6fb;*/
    /*--color-border: #d9dee7;*/
    /*--color-text: #111b26;*/
    /*--color-muted: #5f6b7a;*/
    /*--color-primary: #1f73ff;*/
    /*--color-primary-strong: #0f59d2;*/
    /*--color-danger: #e75b64;*/
    /*--transition: background-color 0.25s ease, color 0.25s ease;*/
    /*font-synthesis: none;*/
    /*text-rendering: optimizeLegibility;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
}


html,
body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    /*background-color: var(--color-bg);*/
    /*color: var(--color-text);*/
    /*transition: var(--transition);*/
}

body {
    display: flex;
    flex-direction: column;
}

#root {
    width: 100%;
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
}
